#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  //text-align: center;
}


body {
  margin: 0;
  display: flex;
  //place-items: center;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  padding: 10;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

